In [1]:
from collections import Counter

In [2]:
def parse_tree_line(line):
    line = line.strip().split(' ')
    cl = line[0]
    paper_rank = float(line[1])
    paper_id = line[2].strip('"')
    return {
        'cl': cl,
        'paper_rank': paper_rank,
        'paper_id': paper_id
    }

In [3]:
fname = 'wos_one-based-numbering.tree'

In [4]:
%%time
c = Counter()
num_vertices = 219963473
i = 0
with open(fname, 'r') as f:
    for line in f:
        if line[0] == "#":
            continue
            
        item = parse_tree_line(line)
        cl = item['cl']
        cl = cl.split(':')[0]
        c[cl] += 1
    
        if (i in [1, 5, 10, 100, 1000, 10000, 100000, 1e6, 5e6, 10e6]) or (i % 50e6 == 0):
            print(i)
        i += 1

0
1
5
10
100
1000
10000
100000
1000000
5000000
10000000
50000000
100000000
150000000
200000000
CPU times: user 9min 3s, sys: 5.79 s, total: 9min 9s
Wall time: 9min 15s

In [5]:
c.most_common(10)

[('4193910', 104603717),
 ('4654150', 119752),
 ('6245469', 97902),
 ('5639372', 88305),
 ('7371898', 85981),
 ('6273522', 85794),
 ('1935800', 79509),
 ('1000491', 74676),
 ('6497556', 71522),
 ('808980', 65840)]

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/share/apps/python/anaconda2/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [7]:
%matplotlib inline

In [9]:
pd.DataFrame.from_dict({34234: 5, 324: 6}, orient='index')

       0
34234  5
324    6

In [10]:
df = pd.DataFrame.from_dict(c, orient='index')

In [13]:
df.sort_values(0, ascending=False).head()

                 0
4193910  104603717
4654150     119752
6245469      97902
5639372      88305
7371898      85981

In [26]:
total = df[0].sum()
print('total: {}'.format(total))
num_clusters = df.shape[0]
print('num_clusters: {}'.format(num_clusters))
num_singletons = (df[0]==1).sum()
print('num_singletons: {} ({:.1f}% of the clusters, {:.1f}% of the papers)'.format(num_singletons, float(num_singletons)/num_clusters*100, float(num_singletons)/total*100))

total: 219963473
num_clusters: 13041875
num_singletons: 7218400 (55.3% of the clusters, 3.3% of the papers)